/* common part start */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    padding: 15px 30px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

/* common part end */

/* banner part start */
.banner-container {
    height: 100vh;
    background-color: #E554731A;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.banner-heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: 1.3;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

.btn-bannner {}

.banner-content {
    max-width: 700px;
    margin-bottom: 150px;
    margin-top: 190px;
}

.banner-img {}

.banner-flower {
    max-width: 480px;
    height: 580px;
    padding-bottom: 0;
}

/* banner part end */


/* featured part start */
.common-title {}

.primary-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.primary-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 15px 0;
}

.featured-section {
    padding: 100px 0;
}

.featured-backgorund {
    width: 340px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
}

.featured-img {
    width: 230px;
    height: 320px;
}

.featured-item {
    width: 380px;
}

.featured-link {
    text-align: center;
    display: block;
    margin: 25px 0;
}

.featured-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.featured-item>.secound {
    background-color: #0597A026;
}

.featured-item>.third {
    background-color: #477D1126;
}

/* featured part end */

/* service part start */
.service-section {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.service-container {
    width: 1180px;
    height: 320px;
    background-color: #27272715;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-info {
    text-align: center;
}

/* service part end */

/* offer part start */
.offer-container {
    height: 500px;
    background-color: #E554730D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 250px;
}

.offer-img {
    width: 300px;
    height: 400px;
}

.offer-info {
    max-width: 550px;
}

.offer-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.offer-off {
    color: rgb(230, 10, 10);
}

/* offer part end */

/* instragram-section start */
.instragram-section {
    margin: 100px 0;
}

.instragram-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin: 100px 0;
}

.instragram-img {
    width: 252px;
    height: 300px;
}

/* instragram-section end */



/* deals-section start */
.deals-container {
    background-image: url(../flower-assets/Rectangle\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    width: 1180px;
    height: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.deals-section {
    display: flex;
    justify-content: center;
}

.deals-text {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 12px 0;
}

.deals-form {
    width: 550px;
    padding: 16px 30px;
    border-radius: 8px;
    font-size: 20px;
    border: 0;
    margin-right: 5px;
}

.input-container {
    margin-top: 40px;
}

/* deals-section emd */


/* footer part start */
.footer-section {
    width: 100%;
    height: 400px;
    background-color: #000000;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-title {
    color: #ffffff;
}

.footer-flower {
    color: #E55473;
}

.footer-description {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.90);
    margin: 24px 480px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
}
/* footer part end */


/* extra part start*/
.blog-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.blog-saparator{
    margin: 0 auto;
    display: block;
}
.blog-section{
    margin: 150px 0;
}
.blog-bg-img{
    background-image: url(../flower-assets/blog-01.jpg),linear-gradient(rgba(255, 255, 255, 0.377),rgba(255, 255, 255, 0.45));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 550px;
    height: 400px;
    display: flex;
    align-items: flex-end;
}
.blog-bg-img-secound{
    background-image: url(../flower-assets/blog-02.jpg),linear-gradient(rgba(255, 255, 255, 0.377),rgba(255, 255, 255, 0.45));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 550px;
    height: 400px;
    display: flex;
    align-items: flex-end;
}
.blog-bg-content{
    font-size: 35px;
    font-weight: 500;
    color: white;
    margin: 30px;
}
.blog-info{
    background-color: rgba(128, 128, 128, 0.096);
    max-width: 550px;
    height: 450px;
}
.blog-profile-img{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding-top:50px ;
}
.blog-name-color{
    color: #E55473;
    text-transform: capitalize;
    margin-right: 15px;
}
.blog-description{
    font-size: 17px;
    line-height: 1.5;
    margin: 50px 0;
}
.blog-margin{
    margin: 50px;
}
.blog-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}
/* extra part end*/